* {
    font-family: Arial, Helvetica, sans-serif;
}

/* VERY EASY */
#checkerboard {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;    
}

/*  -------------- ROW 1 --------------  */
.checkerboardBox1 {
    background-color: red;
    grid-column: 1/4;
    grid-row: 1;
}

.checkerboardBox2 {
    background-color: black;
    grid-column: 2/3;
    grid-row: 1;
}

.checkerboardBox3 {
    background-color: red;
    grid-column: 3/4;
    grid-row: 1;
}

.checkerboardBox4 {
    background-color: black;
    grid-column: 4/5;
    grid-row: 1;
}

.checkerboardBox5 {
    background-color: red;
    grid-column: 5/6;
    grid-row: 1;
}

.checkerboardBox6 {
    background-color: black;
    grid-column: 6/7;
    grid-row: 1;
}

.checkerboardBox7 {
    background-color: red;
    grid-column: 7/8;
    grid-row: 1;
}

.checkerboardBox8 {
    background-color: black;
    grid-column: 8/9;
    grid-row: 1;
}
/*  -------------- ROW 1 --------------  */

/*  -------------- ROW 2 --------------  */
.checkerboardBox9 {
    background-color: black;
    grid-column: 1/2;
    grid-row: 2;
}

.checkerboardBox10 {
    background-color: red;
    grid-column: 2/3;
    grid-row: 2;
}

.checkerboardBox11 {
    background-color: black;
    grid-column: 3/4;
    grid-row: 2;
}

.checkerboardBox12 {
    background-color: red;
    grid-column: 4/5;
    grid-row: 2;
}

.checkerboardBox13 {
    background-color: black;
    grid-column: 5/6;
    grid-row: 2;
}

.checkerboardBox14 {
    background-color: red;
    grid-column: 6/7;
    grid-row: 2;
}

.checkerboardBox15 {
    background-color: black;
    grid-column: 7/8;
    grid-row: 2;
}

.checkerboardBox16 {
    background-color: red;
    grid-column: 8/9;
    grid-row: 2;
}
/*  -------------- ROW 2 --------------  */

/*  -------------- ROW 3 --------------  */
.checkerboardBox17 {
    background-color: red;
    grid-column: 1/4;
    grid-row: 3;
}

.checkerboardBox18 {
    background-color: black;
    grid-column: 2/3;
    grid-row: 3;
}

.checkerboardBox19 {
    background-color: red;
    grid-column: 3/4;
    grid-row: 3;
}

.checkerboardBox20 {
    background-color: black;
    grid-column: 4/5;
    grid-row: 3;
}

.checkerboardBox21 {
    background-color: red;
    grid-column: 5/6;
    grid-row: 3;
}

.checkerboardBox22 {
    background-color: black;
    grid-column: 6/7;
    grid-row: 3;
}

.checkerboardBox23 {
    background-color: red;
    grid-column: 7/8;
    grid-row: 3;
}

.checkerboardBox24 {
    background-color: black;
    grid-column: 8/9;
    grid-row: 3;
}
/*  -------------- ROW 3 --------------  */

/*  -------------- ROW 4 --------------  */
.checkerboardBox25 {
    background-color: black;
    grid-column: 1/2;
    grid-row: 4;
}

.checkerboardBox26 {
    background-color: red;
    grid-column: 2/3;
    grid-row: 4;
}

.checkerboardBox27 {
    background-color: black;
    grid-column: 3/4;
    grid-row: 4;
}

.checkerboardBox28 {
    background-color: red;
    grid-column: 4/5;
    grid-row: 4;
}

.checkerboardBox29 {
    background-color: black;
    grid-column: 5/6;
    grid-row: 4;
}

.checkerboardBox30 {
    background-color: red;
    grid-column: 6/7;
    grid-row: 4;
}

.checkerboardBox31 {
    background-color: black;
    grid-column: 7/8;
    grid-row: 4;
}

.checkerboardBox32 {
    background-color: red;
    grid-column: 8/9;
    grid-row: 4;
}
/*  -------------- ROW 4 --------------  */

/*  -------------- ROW 5 --------------  */
.checkerboardBox33 {
    background-color: red;
    grid-column: 1/2;
    grid-row: 5;
}

.checkerboardBox34 {
    background-color: black;
    grid-column: 2/3;
    grid-row: 5;
}

.checkerboardBox35 {
    background-color: red;
    grid-column: 3/4;
    grid-row: 5;
}

.checkerboardBox36 {
    background-color: black;
    grid-column: 4/5;
    grid-row: 5;
}

.checkerboardBox37 {
    background-color: red;
    grid-column: 5/6;
    grid-row: 5;
}

.checkerboardBox38 {
    background-color: black;
    grid-column: 6/7;
    grid-row: 5;
}

.checkerboardBox39 {
    background-color: red;
    grid-column: 7/8;
    grid-row: 5;
}

.checkerboardBox40 {
    background-color: black;
    grid-column: 8/9;
    grid-row: 5;
}
/*  -------------- ROW 5 --------------  */

/*  -------------- ROW 6 --------------  */
.checkerboardBox41 {
    background-color: black;
    grid-column: 1/2;
    grid-row: 6;
}

.checkerboardBox42 {
    background-color: red;
    grid-column: 2/3;
    grid-row: 6;
}

.checkerboardBox43 {
    background-color: black;
    grid-column: 3/4;
    grid-row: 6;
}

.checkerboardBox44 {
    background-color: red;
    grid-column: 4/5;
    grid-row: 6;
}

.checkerboardBox45 {
    background-color: black;
    grid-column: 5/6;
    grid-row: 6;
}

.checkerboardBox46 {
    background-color: red;
    grid-column: 6/7;
    grid-row: 6;
}

.checkerboardBox47 {
    background-color: black;
    grid-column: 7/8;
    grid-row: 6;
}

.checkerboardBox48 {
    background-color: red;
    grid-column: 8/9;
    grid-row: 6;
}
/*  -------------- ROW 6 --------------  */

/*  -------------- ROW 7 --------------  */
.checkerboardBox49 {
    background-color: red;
    grid-column: 1/2;
    grid-row: 7;
}

.checkerboardBox50 {
    background-color: black;
    grid-column: 2/3;
    grid-row: 7;
}

.checkerboardBox51 {
    background-color: red;
    grid-column: 3/4;
    grid-row: 7;
}

.checkerboardBox52 {
    background-color: black;
    grid-column: 4/5;
    grid-row: 7;
}

.checkerboardBox53 {
    background-color: red;
    grid-column: 5/6;
    grid-row: 7;
}

.checkerboardBox54 {
    background-color: black;
    grid-column: 6/7;
    grid-row: 7;
}

.checkerboardBox55 {
    background-color: red;
    grid-column: 7/8;
    grid-row: 7;
}

.checkerboardBox56 {
    background-color: black;
    grid-column: 8/9;
    grid-row: 7;
}
/*  -------------- ROW 7 --------------  */

/*  -------------- ROW 8 --------------  */
.checkerboardBox57 {
    background-color: black;
    grid-column: 1/2;
    grid-row: 8;
}

.checkerboardBox58 {
    background-color: red;
    grid-column: 2/3;
    grid-row: 8;
}

.checkerboardBox59 {
    background-color: black;
    grid-column: 3/4;
    grid-row: 8;
}

.checkerboardBox60 {
    background-color: red;
    grid-column: 4/5;
    grid-row: 8;
}

.checkerboardBox61 {
    background-color: black;
    grid-column: 5/6;
    grid-row: 8;
}

.checkerboardBox62 {
    background-color: red;
    grid-column: 6/7;
    grid-row: 8;
}

.checkerboardBox63 {
    background-color: black;
    grid-column: 7/8;
    grid-row: 8;
}

.checkerboardBox64 {
    background-color: red;
    grid-column: 8/9;
    grid-row: 8;
}
/*  -------------- ROW 8 --------------  */

/* EASY */
#flag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 73px 73px 73px 73px 73px 73px;
}

.stars {
    display: grid;
}

.box1 {
    background-color: red;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
}

.box2 {
    background-color: white;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    position: relative;
    bottom: 121px;
}

.box3 {
    background-color: red;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    position: relative;
    bottom: 65px;
}

.box4 {
    background-color: white;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    position: relative;
}

.box5 {
    background-color: red;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    position: relative;
    top: 60px;
}

.box6 {
    background-color: white;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: center;
    position: relative;
    top: 133px;
}

.box7 {
    background-color: red;
    height: 7vh;
    grid-column: 2/4;
    grid-row: 1;
    align-self: end;
    position: relative;
}

.box8 {
    background-color: white;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 2;
    align-self: end;
    position: relative;
}

.box9 {
    background-color: red;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 3;
    align-self: end;
    position: relative;
    bottom: 15px;
}

.box10 {
    background-color: white;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 4;
    align-self: end;
    position: relative;
    bottom: 23px;
}

.box11 {
    background-color: red;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 5;
    align-self: end;
    position: relative;
    bottom: 15px;
}

.box12 {
    background-color: white;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 6;
    align-self: end;
    position: relative;
    bottom: 15px;
}

.box13 {
    background-color: red;
    height: 7vh;
    grid-column: 1/4;
    grid-row: 7;
    align-self: end;
    position: relative;
    bottom: 15px;
}


/* MEDIUM */
#medcontainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

.games {
    width: 50%;
    min-width: 250px;
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 15px;
    transition: 0.2s ease;
}

.games:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.50);
    margin: 15px;
    transition: 0.2s ease;
}

.img {
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 500px;
}

button {
    position: relative;
    top: 50px;
    width: 23%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px;
    transition: 0.2s ease;
}

button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #EC7063;
    color: white;
}

